@model IEnumerable<PowerliftingResult>

@{
    ViewData["Title"] = "Search Results";
}

<div class="text-left mb-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info text-center text-light bg-secondary">
        <strong>No results available.</strong>
    </div>
}
else
{
    <partial name="_SearchForm" model="@ViewData["CurrentFilter"]" />

    <div class="mt-3">
        <nav aria-label="Page navigation">
            <div class="overflow-auto" style="max-width: 100%;">
                <ul class="pagination justify-content-start flex-nowrap">
                    @for (int i = 1; i <= (int?)ViewData["TotalPages"]; i++)
                    {
                        <li class="page-item @(i == (int?)ViewData["CurrentPage"] ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Search", new { page = i, searchString = (string)ViewData["CurrentFilter"] })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>

    <partial name="_ResultsTable" model="@Model" />
}
